<%- include('partials/header') %>

<div class="row error">
    <div class="col-8 body">
        <div>
            <h2><%=error%></h2>
            <p><%=message%></p>
        </div>
    </div>
    <div class="col-4">
        <img src="/img/25.png">
    </div>
</div>


<%- include('partials/footer') %>